<div class="alert alert-success alert-dismissible p-3">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>@ViewData["AlertTitle"]</strong> @ViewData["AlertMessage"]
</div>