@{
    ViewData["Title"] = "Login";
}
<div class="container p-5 bg-dark my-5 text-white rounded-3 text-center">
    <p class="h1">Log in</p>
    <form method="post" class="my-5">
        <div class="row">
                    <div class="container p-5">
            
            <label for="username">Username</label>
            <input type="text" name="username" id="">

        </div>
        <div class="container">
            <label for="password">Password</label>
            
            <input type="password" name="password" id="">
            
        </div>
            <div class="loginbuttons">
                <button class="btn btn-primary my-3 ml-auto" type="submit">Log in</button>
                <button class="btn btn-primary">Register</button>
            </div>
        </div>
        

    </form>
    <style>
        .loginbuttons{
            position: absolute;
            top: 43%;
            left: 20px
        }
    </style>
</div>